{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "ios": "8.2"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "version": "7.21.4"
      }
    ]
  ]
}
