{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": "11",
          "ios": "8.2"
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["external-helpers"]
}
